<template>
	<b-container class="page-not-found">
		<b-alert variant="danger" show>
			{{ $t('errors.page-not-found') }}
		</b-alert>
	</b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class NotFound extends Vue {}
</script>
