<template>
	<b-container class="home text-center">
		<h1>Hello from unprotected path ;)</h1>
	</b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class HomeView extends Vue {}
</script>

<style lang="scss">
.home {
}
</style>
