<template>
	<b-container class="protected">
		<router-view v-if="user" />
		<b-alert v-else variant="danger" show>
			{{ $t('errors.not-authorized') }}
		</b-alert>
	</b-container>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
import { StoreGetters } from '@/store/constants';
import { UserInterface } from '@/types/services/Auth';
import EventBus from '@/eventBus';
import { Route } from '@/router';

@Component
export default class ProtectedView extends Vue {
	@Getter(StoreGetters.AUTH_GET_USER)
	readonly user: UserInterface;

	created(): void {
		EventBus.$on('close-login-modal', () => {
			if (!this.user) {
				this.$router.push({
					name: Route.HOME,
				});
			}
		});

		if (!this.user) {
			EventBus.$emit('show-login-modal');
		}
	}
}
</script>
