<template>
	<div class="login-form">
		<b-alert :show="error" variant="danger">
			{{ $t('errors.auth-credentials') }}
		</b-alert>

		<b-form-group :label="$t('forms.auth.email')" label-for="user" label-cols-sm="3">
			<b-form-input id="user" v-model="username" type="email" trim />
		</b-form-group>
		<b-form-group :label="$t('forms.auth.password')" label-for="password" label-cols-sm="3">
			<b-form-input id="password" v-model="password" type="password" trim />
		</b-form-group>

		<b-button type="submit" variant="primary" block @click="onClick">
			{{ $t('forms.auth.login') }}
		</b-button>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action } from 'vuex-class';
import { StoreActions } from '@/store/constants';
import { CredentialsInterface } from '@/types/services/Auth';

@Component
export default class Loader extends Vue {
	@Action(StoreActions.AUTH_LOGIN)
	readonly login: (credentials: CredentialsInterface) => void;

	username = '';
	password = '';
	error = false;

	async onClick(): Promise<void> {
		this.error = false;

		try {
			await this.login({
				username: this.username,
				password: this.password,
			});

			this.resetValues();
			this.$emit('authorized');
		} catch (e) {
			this.error = true;
		}
	}

	resetValues(): void {
		this.username = '';
		this.password = '';
		this.error = false;
	}
}
</script>

<style lang="scss">
.login-form {
	min-width: 400px;
}
</style>
