<template>
	<div class="messages">
		<b-toast
			v-for="message in messages"
			:id="`toast-${message.id}`"
			:key="`toast-${message.id}`"
			toaster="b-toaster-bottom-center"
			header-class="text-center"
			:variant="message.type"
			visible
			@hidden="onDismiss(message)"
		>
			{{ $t(message.content, message.params) }}
		</b-toast>
	</div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
import { StoreGetters, StoreMutations } from '@/store/constants';
import { MessageInterface } from '@/types';

@Component
export default class Messages extends Vue {
	@Getter(StoreGetters.GET_MESSAGES)
	readonly storeMessages: MessageInterface[];

	get messages(): MessageInterface[] {
		return this.storeMessages;
	}

	onDismiss(message: MessageInterface): void {
		this.$store.commit(StoreMutations.POP_MESSAGE, message.id);
	}
}
</script>

<style lang="scss">
/*sadly we need importants here*/
.b-toaster {
	z-index: $zindex-modal-backdrop - 1 !important;

	.b-toaster-slot {
		max-width: $toast-max-width !important;

		.b-toast {
			max-width: $toast-max-width !important;
		}
	}

	&.b-toaster-bottom-center {
		bottom: $spacer !important;
	}
}
</style>
