<template>
	<div id="app">
		<Messages />
		<NavBar />

		<main class="content">
			<Loader v-if="$wait.waiting('loading.*')" />

			<router-view />
		</main>

		<Footer />
		<Modals />

		<b-toast
			body-class="text-center"
			toaster="b-toaster-bottom-right"
			:title="$t('views.sw.title')"
			:visible="updateEvent !== null"
			no-auto-hide
			no-close-button
			solid
		>
			<b-button variant="primary" size="sm" @click="forceReload">
				{{ $t('views.sw.reload') }}
			</b-button>
		</b-toast>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action } from 'vuex-class';
import Messages from '@/components/Messages.vue';
import NavBar from '@/components/NavBar.vue';
import Footer from '@/layout/Footer.vue';
import Modals from '@/layout/Modals.vue';
import Loader from '@/components/Loader.vue';
import { StoreActions, StoreMutations } from '@/store/constants';
import AuthService from '@/services/AuthService';
import EventBus from '@/eventBus';
import SWUpdateEvent from '@/helpers/SWUpdateEvent';

@Component({
	components: {
		Messages,
		NavBar,
		Footer,
		Modals,
		Loader,
	},
})
export default class App extends Vue {
	@Action(StoreActions.AUTH_LOGOUT)
	readonly logout: () => void;

	async beforeCreate(): Promise<void> {
		this.$wait.start('loading.main-container');

		EventBus.$on('sw-updated', (e: SWUpdateEvent) => {
			this.updateEvent = e;
		});

		try {
			const response = await new AuthService().check();

			this.$store.commit(StoreMutations.AUTH_SET_USER, response.data);
		} catch (e) {
			this.logout();
		}
	}

	mounted(): void {
		this.$wait.end('loading.main-container');
	}

	updateEvent: SWUpdateEvent | null = null;

	async forceReload(): Promise<void> {
		if (this.updateEvent) {
			const cachesKeys = await caches.keys();

			await this.updateEvent.skipWaiting();
			cachesKeys.forEach((cacheName) => {
				caches.delete(cacheName);
			});

			window.location.reload(true);
		}

		this.updateEvent = null;
	}
}
</script>

<style lang="scss">
main {
	margin-top: $spacer;
}
</style>
