<template>
	<footer class="container-fluid" fluid>
		<b-row>
			<b-col cols="auto">
				{{ version }}
			</b-col>
		</b-row>
	</footer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { version } from '@/../package.json';

@Component({
	data: () => ({
		version,
	}),
})
export default class AppFooter extends Vue {}
</script>

<style lang="scss" scoped>
footer {
	position: fixed;
	bottom: 0;
	height: $footer-height;
	background: $footer-background;
	border-top: $border-default-width solid $border-default-color;
	z-index: $zindex-modal-backdrop - 1;

	.bg-danger {
		color: $white;
	}

	.row {
		height: 100%;
		justify-content: flex-end;

		.col,
		.col-auto {
			align-self: center;
		}
	}
}
</style>
