<template>
	<b-modal size="lg" :title="$t('modals.login.title')" :visible="showLoginModal" centered hide-footer @hide="onHidden">
		<b-form @submit.stop.prevent>
			<Login @authorized="authorized" />
		</b-form>
	</b-modal>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action } from 'vuex-class';
import { StoreActions } from '@/store/constants';
import { MessageType } from '@/config';
import Login from '@/components/Login.vue';
import EventBus from '@/eventBus';
import { MessageInterface } from '@/types';

@Component({
	components: {
		Login,
	},
})
export default class AppModals extends Vue {
	@Action(StoreActions.ADD_TOAST) addToast: (message: MessageInterface) => void;

	created(): void {
		EventBus.$on('show-login-modal', (route: string) => {
			if (route) {
				this.redirect = route;
			}

			this.showLoginModal = true;
		});
	}

	redirect = '';
	showLoginModal = false;

	async authorized(): Promise<void> {
		await this.addToast({
			type: MessageType.SUCCESS,
			content: String(this.$t('messages.logged-in')),
		});

		if (this.redirect) {
			this.$router.push({ name: this.redirect }, () => {
				this.redirect = '';
				this.showLoginModal = false;
			});
		} else {
			this.showLoginModal = false;
		}
	}

	onHidden(): void {
		this.showLoginModal = false;

		EventBus.$emit('close-login-modal');
	}
}
</script>
